---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
    }
</style>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    {% if page.tags.size > 0 %}
                    <div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ '/tags.html' | prepend: site.baseurl }}#{{ tag | slugify }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">
                        Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.owner.name }}{% endif %} 
                        on {{ page.date | date: "%B %-d, %Y" }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ content }}

                <hr>

                <div class="license">
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                    <br />
                    This work is licensed under a 
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                        Creative Commons Attribution-ShareAlike 4.0 International License
                    </a>.
                </div>

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" 
                           data-toggle="tooltip" 
                           data-placement="top" 
                           title="{{ page.previous.title }}">
                            &larr; Previous Post
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" 
                           data-toggle="tooltip" 
                           data-placement="top" 
                           title="{{ page.next.title }}">
                            Next Post &rarr;
                        </a>
                    </li>
                    {% endif %}
                </ul>

                {% if site.comments.provider == 'disqus' %}
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{ site.url }}{{ page.url }}';
                        this.page.identifier = '{{ page.id }}';
                        this.page.title = '{{ page.title }}';
                    };
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://{{ site.comments.disqus.short_name }}.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>
                    Please enable JavaScript to view the 
                    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                        comments powered by Disqus.
                    </a>
                </noscript>
                {% endif %}
            </div>
        </div>
    </div>
</article>

<!-- Anchor.js for heading links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.1/anchor.min.js" integrity="sha512-nMyycQyP0XWqJq+1qXGmz0JHJ3xVxvn3l8wRjTRsc6yf2l5F3V4FV2cJNVh3y2FjOS1z7sY1X3cV1y2k3BH4l2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        anchors.options = {
            visible: 'always',
            placement: 'right',
            icon: '#'
        };
        anchors.add('.post-container h1, .post-container h2, .post-container h3, .post-container h4');
    });
</script>
<style>
    @media all and (min-width: 800px) {
        .anchorjs-link {
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top: -0.1em;
        }
    }
</style>
